service git
{
    socket_type     = stream
    protocol        = tcp
    wait            = no
    user            = git
    flags           = KEEPALIVE IPv6
    server          = /usr/lib/git-core/git-daemon
    server_args     = --inetd --export-all --enable=upload-archive --informative-errors {{(anongit_style == "legacy") | ternary("--base-path=/repositories", "--interpolated-path=/srv/vhosts-git/%H%D")}}
    max_load        = 10
    log_type        = SYSLOG daemon
    log_on_failure  = HOST
    #log_on_success  = HOST DURATION
    per_source      = 25
}

